<div class="container">

 <form [formGroup]="searchForm">
   <div class="search-box">
     <input type="text" formControlName="searchTerm" placeholder="Search products.....">
     <button type="submit">Search</button>
   </div>
 </form>
 <div class="Cart">
    <i class="fa-solid fa-cart-shopping" style="color: #155ad1;"></i>
 </div>
</div>


     

<div class="medicine">
    <div  *ngFor="let medicine of medicines" class="borderm">
        <img src="../../assets/medicines.jpg" alt="medicine">
        <div class="content">
            <div>
                Medicine_name: {{medicine.medicine_name}}
            </div>
            <div>
                 Medicine Mrp: {{medicine.mrp}}
            </div>
            <div>
                Medicine Price: {{medicine.price}}
            </div>
            <button class="btn">Add Cart</button>
        </div>
          
    </div>
</div>
